.features-boxed {
  color: #313437;
  /*background-color: #eef4f7;*/
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: rgb(37,49,61);
  margin-bottom: 30px;
  border-radius: 9px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #2980ef;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.h1, h1 {
  color: white;
  text-align: center;
}

#heading {
  top: 20px;
  position: fixed;
  width: 100%;
}

.row.d-lg-flex.d-xl-flex.justify-content-lg-center.justify-content-xl-center {
  width: 100%;
}

.h4, h4 {
  text-align: center;
  color: white;
}

#title {
  height: 100px;
}

.h3, h3 {
  text-align: center;
}

#input-field {
  width: 95%;
}

.btn:not(:disabled):not(.disabled) {
  width: 100%;
  background-color: orange;
}

.btn:not(:disabled):not(.disabled) {
  width: 50%;
}

