input[type=checkbox], input[type=radio] {
  font-size: 20px;
  height: 22px;
  width: 22px;
  text-align: center;
}

.loading-gif {
  margin-left: 20px;
  visibility: hidden;
}

#attendance-box {
  background-color: rgb(222,222,222);
  padding: 10px;
  border: 1px solid rgb(179,179,179);
  border-radius: 5px;
}

#nobody {
  color: rgb(174,174,174);
}

#attendance-refresh {
  float: right;
  font-size: medium;
  margin-top: 5px;
}

#attendance-input {
  background-color: rgb(235,235,235);
  margin-right: 10px;
  resize: none;
}

#copy-button {
  margin-top: 15px;
}

