#rc_helmet_icon {
  height: 20%;
}

#rc-helmet-icon {
  width: 60px;
  margin-left: 20px;
}

#login-sidebar {
  background: var(--sidebar_bg);
  height: 100vh;
  color: var(--white);
  z-index: 2;
  border-right: var(--sidebar_borders) solid 2px;
  font-family: 'Noto Sans JP';
  width: 300px;
}

#sidebar {
  background: var(--sidebar_bg);
  height: 100vh;
  color: var(--white);
  z-index: 2;
  border-right: var(--sidebar_borders) solid 2px;
  font-family: 'Noto Sans JP';
}

#sidebar-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}

#sidebar-heading-text {
  margin-left: 12px;
  font-size: 80%;
  text-align: left;
  padding-left: 5px;
}

#main-page {
  height: 100vh;
  width: 100%;
  z-index: 1;
  border: none;
  background-color: var(--page_bg);
}

#main-container {
  width: 100vw !important;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 768px) {
  #sidebar {
    width: 300px;
  }
}

.sidebar-button {
  background-color: transparent;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding: 7px;
  text-align: left;
  padding-left: 11px;
  border-top: var(--sidebar_borders) 1px solid;
}

#sidebar-buttons {
  border-bottom: var(--sidebar_borders) solid 1px;
}

@media (max-width: 767px) {
  #sidebar {
    width: 70px;
  }
}

@media (max-width: 767px) {
  #sidebar-heading-text {
    display: none;
  }
}

.sidebar-button-label {
  margin-left: 10px;
  font-size: 15px;
  pointer-events: none;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .sidebar-button-label {
    display: none;
  }
}

@media (max-width: 767px) {
  #rc-helmet-icon {
    width: 40px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .sidebar-button-icon {
    margin-left: 8px;
    font-size: 25px;
  }
}

#main-page-iframe {
  width: 100%;
  height: Calc(100vh - 60px);
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  scroll-behavior: smooth;
}

#certs-main-heading {
  text-align: center;
}

#page-heading {
  font-family: Archivo, sans-serif;
}

#top-bar {
  width: 100%;
  background: var(--sidebar_bg);
  height: 60px;
  padding: 14px;
  color: var(--light);
}

.sidebar-button-icon {
  pointer-events: none;
  margin-top: 2px;
}

.sidebar-button:hover {
  background-color: var(--button_hover);
  border-left: none;
  border-right: none;
  border-top: var(--sidebar_borders) 1px solid;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

#add-member-second-area {
  padding-left: 15px;
  padding-right: 15px;
}

#top-area {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: var(--page_bg);
  font-family: 'Noto Sans JP';
  -webkit-text-size-adjust: none !important;
}

#top-area-heading {
  font-size: 25px;
}

#top-area-subheading {
  font-size: 15px;
  margin-left: 10px;
  color: var(--text_grey);
}

#top-area-rightheading {
  font-size: 15px;
  color: grey;
  float: right;
  margin-top: 2px;
}

#recent-members-box {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
}

#edit-members-recent-members-box {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
}

.member-dashboard-box {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
  width: 700px;
  display: inline-flex;
  flex-direction: column;
}

.dash-box {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
  max-width: 700px;
  display: inline-flex;
  flex-direction: column;
  width: 94%;
}

.class-rf-box {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
  display: inline-flex;
  flex-direction: column;
}

#input-form {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
}

#login-input-form {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px rgba(128,128,128,0.52) solid;
  border-top: 3px solid var(--sidebar_bg);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
  margin-top: 200px;
  width: 500px;
}

#member-id-input {
  width: 100%;
  pointer-events: none;
  color: var(--text_grey);
  background-color: rgba(128,128,128,0.12);
  -moz-appearance: textfield;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(128,128,128,0.16);
}

.form-heading {
  margin-top: 10px;
}

#submit-button {
  background-color: var(--info);
  border: none;
}

#class-rf-submit-button {
  background-color: var(--info);
  border: none;
}

#select-input {
}

:root {
  --sidebar_bg: #1f3040;
  --page_bg: rgb(210,210,210);
  --text_grey: rgb(136,136,136);
  --confirm_orange: rgb(225,146,0);
  --button_hover: #0f3c71;
  --sidebar_borders: rgb(78,78,78);
  --edit_button: rgb(201,159,159);
  --edit_button_hover: rgb(173,90,90);
  --text_blue: rgb(153,184,211);
}

@media (min-width: 768px) {
  .input-box {
    width: 500px !important;
  }
}

@media (min-width: 768px) {
  #input-form {
    width: 525px;
  }
}

#add-member-second-heading {
  font-size: 20px;
}

:root {
  -webkit-text-size-adjust: none !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

#main-page-html {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  #recent-members-box {
    width: 750px;
  }
}

#signed-in-as {
  color: var(--text_grey);
  font-size: 13px;
}

#top-bar-username {
  margin-left: 20px;
  margin-right: 20px;
}

#top-bar-log-out {
  color: var(--text_grey);
  font-size: 13px;
  margin-left: 15px;
}

@media (max-width: 767px) {
  #top-bar {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 767px) {
  #main-page-iframe {
    height: 100vh;
  }
}

#add-member-second-subheading {
  font-size: 12px;
  color: var(--text_grey);
  margin-left: 20px;
  margin-top: 8px;
}

#add-member-confirmation {
  color: var(--confirm_orange);
  margin-left: 20px;
  font-size: 14px;
}

#class-rf-confirmation {
  color: var(--confirm_orange);
  margin-left: 20px;
  font-size: 18px;
}

#add-member-submit-area {
  margin-top: 20px;
}

#add-member-warning {
  font-size: 14px;
  color: red;
  margin-left: 20px;
}

.sidebar-button:focus {
  background-color: var(--button_hover);
  border-top: var(--sidebar_borders) 1px solid;
}

#login-form-heading {
  font-size: 23px;
  text-align: center;
}

@media (max-width: 768px) {
  #login-sidebar {
    visibility: hidden;
    display: none;
  }
}

#username-input {
  width: 100%;
  margin-bottom: 20px;
}

#password-input {
  width: 100%;
}

#login-button {
  margin-top: 20px;
  float: right;
  width: 120px;
  font-size: 14px;
}

@media (max-width: 768px) {
  #login-input-form {
    width: calc(100% - 20px);
  }
}

#login-warning {
  margin-top: 20px;
  margin-bottom: 0px;
  color: rgb(157,86,86);
}

.remove-button {
  color: rgb(188,29,29);
  background-color: rgb(234,234,234);
  width: 35px;
  height: 35px;
  border-radius: 3px;
  font-size: 20px;
}

#edit-members-double-container {
  width: 100%;
}

#search-subheading {
  font-size: 13px;
  color: var(--text_grey);
}

.member-edit-button {
  border-radius: 5px;
  border: 2px solid grey;
  background-color: var(--edit_button);
  color: black;
}

.member-edit-button:hover {
  background-color: var(--edit_button_hover);
  color: white;
}

#member-detail-profile-picture {
  font-size: 200px;
  margin-left: 10px;
  margin-right: 25px;
  background-color: var(--text_blue);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

#member-detail-top-card-left {
  width: 30%;
}

#member-detail-top-card-right {
  width: 70%;
  padding-left: 20px;
}

#member-detail-top-card-uuid {
  color: var(--text_blue);
  font-size: 13px;
  margin-top: 4px;
}

#member-detail-top-card-name {
  margin-bottom: 0px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  #member-detail-top-card {
    width: 100%;
    margin-left: 0px;
  }
}

#edit-member-show-button {
  background-color: var(--text_blue);
  color: rgb(35,35,35);
  border: none;
  height: 37px;
  pointer-events: none;
}

#edit-member-show-button:hover {
  background-color: var(--button_hover);
  color: white;
  border: none;
}

#member-detail-edit-info-form {
  margin-top: 10px;
  background-color: rgb(231,231,231);
  padding: 10px;
  width: 100%;
}

#member-detail-main-block {
  width: 100%;
}

#member-detail-main-container {
  width: 100% !important;
}

#member-detail-main-container {
  display: flex;
  flex-wrap: wrap;
}

#member-detail-recent-transactions-heading {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

#member-detail-top-card {
  flex-direction: row;
}

#edit-member-into-heading {
  font-size: 24px;
  margin-left: 3px;
  margin-top: 5px;
}

@media (min-width: 1430px) {
  #member-detail-right-pane {
    margin-left: -10px;
  }
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

#member-stats-subheading {
  font-size: 15px;
}

#member-stats-heading {
  font-size: 24px;
}

#uuid-hidden {
  display: none;
}

#table-date {
  font-family: 'B612 Mono';
  font-size: 12px;
}

.dash-box-heading {
  font-size: 22px;
}

.class-rf-heading {
  font-size: 21px;
  margin-bottom: 3px;
  text-align: center;
}

#rcl-code {
  font-family: 'B612 Mono';
}

.num-input {
  width: 100px !important;
}

.table-input {
  width: 111px;
  border: 1px solid rgba(0,107,130,0.28);
  border-radius: 5px;
  height: 30px;
  font-size: 17px;
  font-family: 'B612 Mono';
  padding-left: 5px;
}

.team-list-heading {
  font-size: 20px;
}

.table {
  font-size: 15px;
}

.table-checkbox:checked + label {
}

input[type=checkbox]:checked + label {
  box-sizing: border-box;
}

.class-rf-table {
  border: 2px solid rgb(203,203,203);
}

.class-rf-back-link {
  position: absolute;
}

#class-rf-submit-area {
  margin-top: 11px;
}

