<!DOCTYPE html>
<html style="background-color: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RC-Admin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: rgba(255,255,255,0);">
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Add Member</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="number" name="division" placeholder="Division"></div><select class="form-control"><option value="" selected="" id="default">Select Team</option><option value="12">Supernovas</option><option value="13">Plutos</option><option value="14">Rigels</option></select>
            <div
                class="form-group"><button class="btn btn-primary" id="add-button" type="submit">ADD Member</button></div><button class="btn btn-primary" id="back-button" type="button">BACK To DASHBOARD</button></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>