<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RC-Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/css/Features-Boxed.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/css/Login-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='restricted/css/styles.css')}}">
</head>

<body>
    <div id="spacer"></div>
    <h1 id="message">Restricted. Please log in.</h1><a class="d-flex d-xl-flex justify-content-center justify-content-xl-center" id="login-link" href="login">login</a>
    <script src="{{ url_for('static', filename='restricted/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='restricted/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
