:root {
  --rc-yellow: #fec400;
  --text-grey: rgb(255,0,184);
  --blue-fade: rgba(0,102,255,0.18);
  --confirmation-color: rgb(255,152,78);
  --rc-blue: #1f6ffb;
}

body {
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#rc_header_image {
  height: 80px;
}

#header {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  padding-right: 20px;
  padding-top: 10px;
}

#main-heading {
  font-family: 'Orbitron';
  padding-top: 35px;
  color: var(--rc-yellow);
}

.header-icon {
  color: var(--text-grey);
  font-size: 20px;
  margin-left: 20px;
}

.header-icon-selectable {
  color: var(--text-grey);
  font-size: 20px;
}

.header-text {
  color: var(--rc-yellow);
  font-family: 'Poppins';
  font-size: 15px;
  margin-left: 10px;
}

.header-icon-selectable:hover {
  color: var(--rc-yellow);
  cursor: pointer;
  text-decoration: none;
}

#header-buttons-left {
  display: initial;
}

#header-buttons-right {
  margin-left: 20px;
  float: right;
  margin-top: 25px;
}

.header-text-grey {
  color: var(--text-grey);
  font-family: 'Noto Sans';
  font-weight: 600;
}

#logout-button:hover {
  color: var(--rc-yellow);
  cursor: pointer;
  text-decoration: none !important;
}

#logout-icon {
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  #rocket_club_logo_image {
    margin-top: 70px !important;
  }
}

@media (max-width: 576px) {
  .welcome-page-paragraph {
    font-size: 15px !important;
  }
}

#main-content {
  width: 100%;
  height: 100%;
}

#dashboard-gear-icon {
  margin-right: 10px;
}

#header-link {
  text-decoration: none;
}

#user-settings-text {
}

#dashboard-page {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding-left: 20px;
}

.dashboard-heading {
  color: var(--rc-yellow);
  font-family: 'Orbitron';
  font-size: 30px;
  margin-bottom: 15px;
}

.dashboard-text-bold {
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.dashboard-text {
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}

@media (max-width: 700px) {
  .hide-when-small {
    display: none;
  }
}

#logout-button {
  margin: 0px;
}

.dashboard-section {
  margin-bottom: 50px;
}

.tuition-subsection {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#tuition-section {
  display: flex;
  flex-wrap: wrap;
}

.tuition-number {
  color: var(--light);
  font-size: 18px;
}

.tuition-label {
  font-size: 18px;
}

#membership-cost-number {
  font-size: 24px;
  color: var(--rc-yellow);
}

.horizontal-line {
  border-top: 1px solid rgba(254,196,0,0.27);
  width: 100%;
}

.nav.nav-tabs {
  border: none;
}

.nav-tabs .nav-item {
  background: black;
  font-family: 'Orbitron';
  color: white;
  padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  background-color: var(--rc-yellow);
  border-radius: 0px;
  border-color: black;
}

.nav-tabs .nav-link {
  color: var(--rc-yellow);
  padding: 5px;
  border: 1px solid var(--rc-yellow);
  border-radius: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: var(--rc-yellow);
}

#select-a-student {
  margin-left: 10px;
  color: rgba(255,255,255,0.67);
}

.dashboard-text-bold.student-name {
  color: var(--rc-yellow);
  border-bottom: 1px solid;
  width: 100%;
  font-size: 30px;
}

.student-section {
  margin-bottom: 20px;
  background-color: var(--blue-fade);
  padding: 10px;
  width: 96%;
  max-width: 900px;
}

.settings-icon {
  margin-left: 20px;
}

.rc-yellow {
  color: var(--rc-yellow);
  font-size: 22px;
}

.underline {
  text-decoration: underline;
}

.rc-grey {
  color: var(--text-grey);
}

hr {
  border-bottom: 1px solid rgba(255,199,0,0.12);
}

.dashboard-label {
  color: var(--rc-yellow);
  margin-right: 10px;
}

#account-list {
  display: flex;
}

#user-id {
  margin: 0px;
  padding: 0px;
  color: rgba(255,255,255,0.24);
  font-family: monospace;
}

.dashboard-paragraph {
  color: rgba(255,255,255,0.66);
  max-width: 600px;
  width: 96%;
  font-family: 'Poppins';
}

#loading_icon {
  width: 15%;
  opacity: 80%;
}

.account-info-input:focus {
  color: black;
}

.account-info-input {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.account-form-line {
  margin-bottom: 10px;
}

#account-info-form {
  color: black;
  display: flex;
}

#submit-button:hover {
  background-color: black;
  color: var(--rc_yellow);
  border: 2px solid var(--rc_yellow);
}

#submit-button {
  background: var(--rc_yellow);
  color: black;
  font-family: 'Orbitron';
  border-radius: 0px;
  border: 2px solid black;
  font-size: 20px;
}

#submit-button-section {
  display: flex;
}

.warning {
  font-family: 'Poppins';
  color: rgb(224,91,82);
  font-size: 20px;
  margin-top: 12px;
  margin-left: 20px;
}

.confirmation {
  font-family: 'Poppins';
  color: var(--confirmation-color);
  font-size: 20px;
  margin-top: 12px;
  margin-left: 20px;
}

#old-password-warning {
  color: rgb(224,91,82);
  font-family: 'Poppins';
  margin-left: 20px;
  height: 21px;
}

.dashboard-link {
  color: var(--rc-blue);
  font-family: 'Orbitron';
  font-size: 20px;
}

.dashboard-link:hover {
  color: rgb(82,145,255);
}

#back-to-dsahboard {
  padding-top: 20px;
  font-family: 'Poppins';
}

.icon-button:hover {
  border: 2px solid rgba(31,111,251,0.27);
}

.icon-button {
  width: 200px;
  height: 130px;
  background: var(--blue-fade);
  font-family: 'Poppins';
  border-radius: 5px;
  color: var(--rc-yellow) !important;
  font-size: 25px;
  text-align: center;
  border: 2px solid var(--blue-fade);
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 15px;
}

.icon-button-link {
  text-decoration: none !important;
}

.button-link {
  font-family: 'Poppins';
}

#change-account-info {
  margin-top: 50px;
}

.account-form-label {
  margin-bottom: 16px !important;
}

.icon-button-link {
  height: 100%;
  display: block;
  color: var(--rc-yellow);
}

.icon-button-link:hover {
  height: 100%;
  display: block;
  color: rgba(254,196,0,0.75);
}

#help-desk-temp-section {
  display: flex;
  flex-direction: column;
}

#new-password-warning {
  font-size: 15px;
}

@media (max-width: 514px) {
  #new-password-input {
    margin-top: 80px;
  }
}

#account-conf {
  margin-left: 0px;
  height: 20px;
}

#change-password {
  margin-top: 50px;
}

#new-password-input {
  margin-top: 26px;
}

#account-info-guide {
  color: white;
  font-family: 'Poppins';
}

.account-form-label {
  margin-bottom: 16px !important;
}

#change-account-info {
  margin-top: 50px;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255,255,255,0.63);
}

footer {
  color: rgba(255,255,255,0.23);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Poppins';
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

#link-button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-link {
  font-size: 17px;
}

#billing-statement {
  font-size: 15px;
  color: grey;
}

#signups-heading {
  color: white;
  font-family: 'Poppins';
  font-size: 25px;
  margin-top: 15px;
}

#payment-button {
  height: 90px;
}

#brochure-link {
  font-family: 'Poppins';
  font-size: 25px;
  text-decoration: none;
  margin-left: 50px;
}

#new {
  background-color: rgb(150,46,46);
  color: white;
  border-radius: 20px;
  font-size: 11px;
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  font-family: 'Poppins';
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

@media (max-width: 576px) {
  #brochure-link {
    margin-left: 0px;
  }
}

#billing-message {
  color: rgb(255,255,255);
  font-family: 'Poppins';
  margin-top: 10px;
  width: 600px;
  font-size: 14px;
}

