#leaderboard-title {
  display: flex;
}

#header-image {
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
}

.leaderboard-section-line {
  display: flex;
  flex-wrap: wrap;
}

.leaderboard-section-image {
  width: 100%;
  margin-bottom: -15px;
}

.leaderboard-section {
  max-width: 500px;
  width: 100%;
  margin-right: 25px;
  margin-left: 25px;
}

.place-img {
  height: 50px;
}

.leaderboard-table {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 440px) {
  .leaderboard-place-img {
  }
}

.leaderboard-place-img {
  height: 50px;
  margin-left: 10px;
}

.leaderboard-table-line {
  color: white;
  vertical-align: middle;
  font-family: 'Poppins';
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

@media (max-width: 440px) {
  .leaderboard-table-line {
    font-size: 4vw;
  }
}

.leaderboard-table-line-text {
  vertical-align: middle;
}

.table td, .table th {
  vertical-align: middle;
  padding: 0px;
  text-align: center;
}

.leaderboard-subheading {
  color: rgb(255,229,0);
  font-size: 20px;
  font-family: 'Orbitron';
  text-align: center;
}

#month-of {
  font-size: 30px;
  font-family: 'Orbitron';
  color: #f58611;
}

#heading-lifetime {
  font-size: 30px;
  font-family: 'Orbitron';
  color: #f58611;
  margin-top: 10px;
}

a {
}

@media (max-width: 700px) {
  #month-of {
    font-size: 6vw;
  }
}

@media (max-width: 700px) {
  #heading-lifetime {
    font-size: 6vw;
  }
}

#foot {
  height: 300px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,0) 100%);
}

