@media (min-width: 768px) {
  .card {
    width: 60%;
  }
}

#start_card_div {
  margin-top: 30px;
}

.card {
  background-color: black;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: red !important;
}

.nav-item {
  margin-left: 13px;
}

.nav-p {
  color: black;
  font-family: 'Source Sans Pro';
  font-weight: 500;
}

@media (min-width: 768px) {
  .nav-p {
    color: white;
    font-size: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 766px) {
  #navcol-1 {
    background-color: white;
    border-radius: 2px;
  }
}

.navbar-expand-md .navbar-nav {
  margin-top: 15px;
}

.navbar-light .navbar-toggler {
}

.newsletter-subscribe {
  width: 100%;
  margin-top: 100px;
}

#start-heading {
  color: white;
  font-family: 'Orbitron';
}

#start-subheading {
  color: rgb(255,199,0);
  font-family: 'Orbitron';
}

.navbar.navbar-light.navbar-expand-md {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#horizontal_white {
  border-top: 1px white solid;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 766px) {
  #horizontal_white {
    visibility: hidden;
    margin: 0px;
  }
}

#id-warning {
  color: rgba(204,77,77,0.83);
  text-align: center;
}

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
  margin-top: 20px;
}

.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5;
}

form {
  justify-content: center;
}

:root {
  height:100%;
  background: black;
  background-size: cover;
  background-attachment:fixed;
}

@media (min-width: 0px){
  #top_logo {
    height: 50px;
  }
}

@media min-width: 766px){
  #top_logo {
    height: 100px;
  }
}

#rc-logo-fancy {
  width: 110%;
}

@media (min-width: 992px) {
  #bottom-container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  #top-container {
    width: 90%;
  }
}

#heading-member-dashboard {
  font-family: 'Orbitron';
  color: rgba(255,255,255,0.73);
  text-align: right;
  font-size: 1.5vw;
}

#large-name {
  font-family: 'Orbitron';
  color: #FDD803;
  font-size: 40px;
  text-align: left;
}

@media (max-width: 576px) {
  #heading-member-dashboard {
    font-size: 2vw;
  }
}

@media (max-width: 579px) {
  #large-name {
    font-size: 6vw;
  }
}

#division-team {
  font-family: 'Orbitron';
  color: rgba(255,255,255,0.73);
  font-size: 1.8vw;
}

#total-rf-block {
  margin-top: 50px;
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  #total-rf-block {
    margin-top: 30px;
  }
}

#total-rocket-fuel {
  font-family: 'Orbitron';
  font-size: 5vw;
  margin-left: 2vw;
}

#total-rocket-fuel-label {
  font-family: 'Orbitron';
  font-size: 2vw;
  margin: 3vw;
}

@media (min-width: 992px) {
  #large-name {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  #total-rocket-fuel {
    font-size: 6vw;
  }
}

#back-link {
  color: orange;
  font-family: 'Orbitron';
  margin-left: 11px;
}

@media (min-width: 300px) {
  #back-link {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  #back-link {
    font-size: 2.5vw;
  }
}

@media (min-width: 992px) {
  #back-link {
    font-size: 2vw;
  }
}

#rocket-icon {
  font-size: 5vw;
  color: orange;
}

@media (min-width: 768px) {
  #rocket-icon {
    font-size: 50px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  #division-team {
    font-size: 3vw;
  }
}

#bottom-container {
  margin-top: 0.5vh;
}

#left-column {
  background-color: #000000;
  padding-left: 16px;
  border-right: 5px solid white;
}

#left-colulmn-rc-logo {
  width: 60%;
  margin-top: 2vw;
}

.left-column-heading {
  font-size: 2.5vw;
  font-family: 'Orbitron';
}

#top-container {
  background-color: rgba(0,0,0,0.77);
}

.left-column-info-section {
  background-color: rgba(0,0,0,0);
  margin-top: 10px;
}

.left-column-line {
  margin: 0px;
  border-top: 3px rgb(0,163,255) solid;
}

.left-column-p {
  font-family: 'Source Sans Pro';
  font-size: 1.3vw;
  margin-top: 10px;
}

#top-line {
  width: 80%;
}

#vertical-name {
  font-family: 'Orbitron';
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 4vw;
  top: 2vw;
  right: 0px;
}

#right-column {
  background-color: #ffffff;
  border-left: 4px solid #00a3ff;
  color: black;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Bitter';
}

#rc-communities-heading {
  font-size: 2.5vw;
}

#right-column-heading {
  font-size: 4.5vw;
  text-align: left;
  margin-top: 1vh;
}

.category-heading {
  font-weight: bold;
  text-decoration: underline;
  font-size: 2.5vw;
  margin-top: 0.6vw;
}

#top-line-2 {
  width: 80%;
}

.certification {
  font-size: 2vw;
}

.certification-text {
  width: 80%;
}

.certification-text-cert {
  text-align: right;
  width: 30%;
}

.certification-text-bullet {
}

.certification-line-certified {
  font-size: 1.8vw;
}

.certification-line-not-certified {
  font-size: 1.8vw;
  color: rgb(167,167,167);
}

@media (min-width: 1200px) {
  #right-column-heading {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .category-heading {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .certification-line-not-certified {
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  .certification-line-certified {
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  #heading-member-dashboard {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  #back-link {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  #division-team {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  #total-rocket-fuel-label {
    font-size: 25px;
    margin: 35px;
  }
}

@media (min-width: 1200px) {
  #total-rocket-fuel {
    font-size: 70px;
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  #vertical-name {
    font-size: 50px;
    top: 23px;
  }
}

@media (min-width: 1200px) {
  .left-column-heading {
    font-size: 34px;
  }
}

@media (min-width: 1200px) {
  .left-column-p {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  #left-colulmn-rc-logo {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  #right-column {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {
  #rc-communities-heading {
    font-size: 34px;
  }
}

@media (min-width: 1200px) {
  #top-right-column {
    padding-left: 50px;
  }
}

