body {
  background-color: transparent;
}

:root {
  --rc-yellow: #FEC400;
}

#with-your-host-image {
  width: 800px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  #with-your-host-image {
    width: 100%;
    margin-top: 0px;
  }
}

#login-code-label {
  font-family: 'Orbitron';
  color: white;
  margin-right: 20px;
}

#member-id-label {
  font-family: 'Orbitron';
  color: white;
  margin-right: 20px;
  margin: auto;
}

.form-control.space-input-box {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--rc-yellow);
  border-radius: 0;
  font-family: 'Orbitron';
  color: white;
  width: 250px;
  font-size: 23px;
  margin-bottom: 6px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus {
  color: white;
  box-shadow: none;
  border: 1px solid rgba(128,128,128,0.27);
  border-bottom: 1px solid var(--rc-yellow);
}

.rcl-form-line {
  display: inline-flex;
  font-size: 24px;
  margin-bottom: 35px;
}

#rcla-main-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#instructions-line {
  color: rgba(254,196,0,0.69);
  font-family: 'Noto Sans';
  width: 400px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 13px;
}

#subheading {
  font-family: 'Orbitron';
  color: white;
  font-size: 27px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #instructions-line {
    width: 60%;
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  #subheading {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  .rcl-form-line {
    font-size: 3vw;
  }
}

#attendance-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#submit-button {
  background: var(--rc-yellow);
  color: black;
  font-family: 'Orbitron';
  border-radius: 0px;
  border: 2px solid black;
  font-size: 20px;
}

#submit-button:active:focus {
  border: none;
  box-shadow: none;
  border: 2px solid var(--rc-yellow);
  background: white;
}

#submit-button:hover {
  background-color: black;
  color: var(--rc-yellow);
  border: 2px solid var(--rc-yellow);
}

#code-input {
  text-transform: uppercase;
}

#warning {
  font-family: 'Orbitron';
  color: rgb(224,91,82);
  font-size: 30px;
}

#confirmation {
  font-family: 'Orbitron';
  color: var(--rc-yellow);
}

@media (max-width: 768px) {
  #confirmation {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  #warning {
    font-size: 5vw;
    margin-top: 20px;
  }
}

