@media (max-width: 768px) {
  #stadings-title {
    font-size: 9vw;
  }
}

@media (max-width: 564px) {
  .standings-subtitle {
    font-size: 5vw;
  }
}

@media (max-width: 488px) {
  .leaderboard-entry {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  .place-img {
    height: 10vw;
    width: 10vw;
  }
}

@media (min-width: 577px) {
  .place-img {
    height: 70px;
  }
}

@media (min-width: 964px) {
  .leaderboard-entry {
    /*font-size: 18px;*/
  }
}

@media (max-width: 963px) {
  .leaderboard-entry {
    font-size: 20px;
  }
}

@media (max-width: 508px) {
  .standings-heading {
    font-size: 10vw;
  }
}

@media (max-width: 767px) {
  .small-entry {
    font-size: 15px !important;
  }
}

.small-entry {
  font-size: 30px;
}

@media (max-width: 767px) {
  .small_icon {
    width: 50px !important;
  }
}

.small_icon {
  width: 70px;
}

