<!DOCTYPE html>
<html style="background: url({{ url_for('static', filename='dashboard/img/stars.png')}});">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Parent_Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='dashboard/img/RCFavicon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='dashboard/img/RCFavicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/parent_dashboard_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/parent_login_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/welcome_page.css') }}">
</head>

<body>
    <div id="main-content">
        <div id="header"><a href="dashboard"><img id="rc_header_image" src="{{ url_for('static', filename='dashboard/img/rocket_club_header_flat.png') }}"></a>
            <div id="header-buttons-left"><i class="fa fa-user header-icon hide-when-small"></i><span class="header-text hide-when-small">{{current_user.name}}</span><a id="header-link" class="header-icon-selectable settings-icon" href="account"><i class="fa fa-gear header-icon-selectable"></i></a></div>
            <div id="header-buttons-right"><a href="logout"><span id="logout-button" class="header-text-grey"><span id="logout-text" class="hide-when-small">Log Out</span><i class="fa fa-sign-out" id="logout-icon"></i></span></a></div>
        </div>
        <div id="dashboard-page">
            <div class="dashboard-section"><h1 class="dashboard-heading"><i class="fa fa-user-circle-o">
    </i> Your Member{% if students|length > 1 %}<span>s</span>{% endif %}
</h1>{% for student in students %}
<div class="student-section">
    <p class="dashboard-text-bold student-name">{{student.name}}</p>
    <p class="dashboard-text">Member ID: {{student.member_id}}</p>
    <p class="dashboard-text">Team: {{student.team.team_name}}</p>
    <p class="dashboard-text">Division: {{student.division}}</p>
    <p class="dashboard-text">Graduation Date: {{student.grad_date}}</p>
    <hr></hr>
    <p class="dashboard-text rc-yellow">Class</p>
    <p class="dashboard-text">{{student.team.team_name}}</p>
    <p class="dashboard-text">{{student.team.day}} {{student.team.time}}</p>
    <p class="dashboard-text">Instuctor: {{student.team.instructor}}</p>
    <p class="dashboard-text">Zoom Link: <a href='{{student.team.zoom_link}}'>zoom.us</a> {%if zoom_password != 'none'%} Password: {{student.team.zoom_password}}{%endif%}</p>
</div>
{% endfor %}</div>
            <div class="dashboard-section">
                <h1 class="dashboard-heading"><i class="fa fa-shield"></i>&nbsp;Rocket Club Communities</h1>
                <div id="link-button-container">
                    <div class="icon-button" href="asht"><a class="icon-button-link" href="https://rocketclub.com/rocket-club-communities" target="_blank"><i class="fa fa-search"></i>
                            <h5>Communities Portal</h5>
                        </a></div>
                    <div class="icon-button" href="asht"><a class="icon-button-link" href="https://www.rocketclub.com/calendar" target="_blank"><i class="fa fa-calendar"></i>
                            <h5>Communities Calendar</h5>
                        </a></div>
                    <div class="icon-button" href="asht"><a class="icon-button-link" href="https://docs.google.com/document/d/1D25KJ8DyF4Oj7cUjLDq1Mv7Ca1XslaApMCNaeE97NZs/edit" target="_blank"><i class="fa fa-list-ul"></i>
                            <h5>Communities Glossary</h5>
                        </a></div>
                    <div class="icon-button" href="asht"><a class="icon-button-link" href="https://share.hsforms.com/1v6smWFeaQoWs3i2ceMaqqA4f233" target="_blank"><i class="fa fa-check-square-o"></i>
                            <h5>Communities signup</h5>
                        </a></div>
                </div>
            </div>
            <div class="dashboard-section">
                <h1 class="dashboard-heading"><i class="fa fa-graduation-cap"></i>&nbsp;Rocket Club Tuition</h1>
                <div id="tuition-section">
                    <div class="tuition-subsection">
                        <h1 class="dashboard-text-bold tuition-label">Tuition</h1>
                        <h1 class="dashboard-text tuition-number">$ {{membership.tuition}}</h1>
                    </div>
                    <div class="tuition-subsection">
                        <h1 class="dashboard-text-bold tuition-label">Sponsorship</h1>
                        <h1 class="dashboard-text tuition-number">$ {{membership.scholarship}}</h1>
                    </div>
                </div>
                <div id="tuition-section">
                    <div class="tuition-subsection">
                        <h1 class="dashboard-text-bold tuition-label">Your Portion of Tuition</h1>
			<h1 id="membership-cost-number" class="dashboard-text tuition-number">$ {{membership.cost}}&nbsp; {% if students|length > 1 %}Per Member{% endif %}</h1>
                    </div><span id="billing-statement" class="dashboard-text">Looking for a billing reciept? Email admin@officialrocketclub.com</span>
                </div>
            </div>
            <div class="dashboard-section">
                <h1 class="dashboard-heading"><i class="fa fa-question-circle"></i>&nbsp;Help Desk</h1>
                <div>
                    <p class="dashboard-paragraph">Notice an issue with your or your member's account? Email admin@rocketclub.com or fill out a request ticket below:</p>
                    <div><a class="dashboard-link" href="helpdesk">Fill out a help request</a></div>
                </div>
            </div>
        </div>
    </div>
    <footer><span>Copyright © 2021 Rocket Club<br><br>157 Columbus Avenue, New York, New York 10023, United States</span></footer>
    <script src="{{ url_for('static', filename='dashboard/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/js/fade_in_welcome.js') }}"></script>
</body>

</html>
