<!DOCTYPE html>
<html style="background-color: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RC-Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/Features-Boxed.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/Login-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/styles.css')}}">
</head>

<body style="background-color: rgba(255,255,255,0);">
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Rocket Club Administrative Dashboard</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 item">
                    <div class="box"><i class="far fa-user icon"></i>
                        <h3 class="name">Add New Member</h3><a class="learn-more" href="add-member">Select</a></div>
                </div>
                <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 item">
                    <div class="box"><i class="far fa-edit icon"></i>
                        <h3 class="name">Change Member Information</h3><a class="learn-more" href="">Coming Soon...</a></div>
                </div>
                <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 item">
                    <div class="box"><i class="far fa-list-alt icon"></i>
                        <h3 class="name">View Detailed Member Info</h3><a class="learn-more" href="">Coming Soon...</a></div>
                </div>
                <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 item">
                    <div class="box"><i class="fas fa-rocket icon"></i>
                        <h3 class="name">Add Rocket Fuel</h3><a class="learn-more" href="add-rf">Select</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dashboard/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dashboard/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
