<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>new_admin_dashbaord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='class-rf/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=B612+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='class-rf/css/Font%20Awesome%205%20Brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='class-rf/css/Font%20Awesome%205%20Free.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="{{ url_for('static', filename='class-rf/css/checkbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='class-rf/css/styles.css') }}">
</head>

<body>
    <div id="top-area"><span id="top-area-heading">In-class Rocket Fuel</span><span id="top-area-subheading">Add Rocket Fuel for members in class</span><span id="top-area-rightheading">RC Instructor</span></div>{% if not ready %}
    <div id="input-form">
        <form method="post"><input class="form-control" type="hidden" name="form_type" value="team_select"><select class="form-control input-box" id="select-input" type="text" name="team">
    <optgroup label="select a team">
        <option value="" selected="",id="default-option">Select Your Class</option>
        {% for team in teams %}
        <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
    </optgroup>
</select>
            <div class="d-md-flex justify-content-md-start align-items-md-center" id="add-member-submit-area"><button class="btn btn-primary" id="submit-button" type="submit" onclick="load_class()">Load Students</button><span id="load-class-confirmation">{{ confirmation }}</span><span id="add-member-warning">{{ warning }}</span></div>
        </form>
    </div>{% endif %}
    <hr>{% if ready %}
    <div class="class-rf-box">
        <div></div><a class="class-rf-back-link" href="class-rf">⬅️ Back</a><span class="class-rf-heading"><span class="dash-box-heading" style="color: rgb(101,181,119);"><strong>{{date}}</strong></span>&nbsp;Attendance &amp; RF for&nbsp;<span class="dash-box-heading" style="color: var(--edit_button_hover);"><strong>{{team}}</strong></span></span>
        <form method="post"><input class="form-control" type="hidden" name="team" value="{{team}}"><input class="form-control" type="hidden" name="form_type" value="rf-add"><div class="table-responsive table-bordered class-rf-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2">Member</th>
                <th>Attendance</th>
                <th>Participation</th>
                <th>Wheel Wins</th>
                <th>Kahoot Wins</th>
                <th>Bonus</th>
                <th>Competition</th>
                <th>Communities</th>
            </tr>
        </thead>
        <tbody>
            {%for member in team_members%}
            <tr>
                <td>{{member.name}}</td>
                <td>{{member.member_id}}</td>
                <td class="text-center"><input type="checkbox" value="{{member.uuid}}" name="attendance" {% if member.attendance %}checked{% endif%}/></td>
                <td><input type="number" class="table-input" name="{{member.uuid}}!participation" value="{%if member.participation%}{{member.participation}}{%else%}0{%endif%}"/></td>
                <td><input type="number" class="table-input" name="{{member.uuid}}!wheel" value="{%if member.wheel%}{{member.wheel}}{%else%}0{%endif%}"/></td>  
                <td><input type="number" class="table-input" name="{{member.uuid}}!kahoot" value="{%if member.kahoot%}{{member.kahoot}}{%else%}0{%endif%}"/></td>
                <td><input type="number" class="table-input" name="{{member.uuid}}!bonus" value="{%if member.bonus%}{{member.bonus}}{%else%}0{%endif%}"/></td>
                <td><input type="number" class="table-input" name="{{member.uuid}}!competition" value="{%if member.competition%}{{member.competition}}{%else%}0{%endif%}"/></td>
		<td><input type="number" class="table-input" name="{{member.uuid}}!communities" value="{%if member.communities%}{{member.communities}}{%else%}0{%endif%}"/></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
            <div class="d-md-flex justify-content-md-start align-items-md-center" id="class-rf-submit-area"><button class="btn btn-primary" id="class-rf-submit-button" onclick="class_rf_update()">&nbsp; Update&nbsp;&nbsp;</button><img id="class-loading-gif" class="loading-gif" src="{{ url_for('static', filename='class-rf/img/ajax-loader.gif') }}"><span id="class-rf-confirmation">{{ confirmation }}</span></div>
        </form>
    </div>{% endif %}
    <script src="{{ url_for('static', filename='class-rf/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='class-rf/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='class-rf/js/loading-msg.js') }}"></script>
    <script src="{{ url_for('static', filename='class-rf/js/navigation-buttons.js') }}"></script>
</body>

</html>
