<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>new_admin_dashbaord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./edit-member/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="{{ url_for('static', filename='./edit-member/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./edit-member/css/styles.css') }}">
</head>

<body>
    <div id="top-area"><span id="top-area-heading">Member Info</span><span id="top-area-subheading">Edit member information</span><span id="top-area-rightheading">RC Admin</span></div>
    <div id="input-form">
        <form method="post">
            <h6>Search for Member</h6>
            <h6 id="search-subheading">Enter a name, team, or member ID</h6><input class="form-control input-box" type="text" name="member-query">
            <div class="d-md-flex justify-content-md-start align-items-md-center" id="add-member-submit-area"><button class="btn btn-primary" id="submit-button" type="submit" onclick="add_button_clicked()">Search</button><span id="add-member-confirmation">{{ confirmation }}</span><span id="add-member-warning">{{ warning }}</span></div>
        </form>
    </div>{% if ready %}
<div id="add-member-lower-area">
    <div class="d-flex justify-content-start" id="add-member-second-area"><span id="add-member-second-heading">Results</span><span id="add-member-second-subheading">Click the edit button to edit a member's information.</span></div>
    <div id="recent-members-box">
        <div class="table-responsive table-bordered">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Member ID</th>
                        <th>Name</th>
                        <th>Division</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                    <form method="POST" action="member-detail">
                        {% for member in results %}
                        <tr>
                            <td>
                                <button class="member-edit-button" type="submit" name="m_uuid" value="{{member.m_uuid}}">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                            <td>{{member.id}}</td>
                            <td>{{member.name}}</td>
                            <td>{{member.division}}</td>
                            <td>{{member.team}}</td>
                        </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
            <p id="search-warning">{{ search_warning }}</p>
        </div>
    </div>
</div>
{% endif %}
    <script src="{{ url_for('static', filename='./edit-member/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./edit-member/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./edit-member/js/loading-msg.js') }}"></script>
    <script src="{{ url_for('static', filename='./edit-member/js/navigation-buttons.js') }}"></script>
</body>

</html>