<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='member_dashboard/img/background.jpg')}});background-repeat: no-repeat;background-size: cover;background-color: black;background-attachment: fixed;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rocket Club Member Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='member_dashboard/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='member_dashboard/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='member_dashboard/css/member_dashboard4968466847891.css') }}">
</head>

<body style="color: rgb(255,255,255);background: transparent;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a href="https://rocketclub.com/"><img id="top_logo" src="{{ url_for('static', filename='member_dashboard/img/Rocket+Club+Final-horizontal+transparent+background.png') }}"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-right" id="navbar-toggle-icon"></i></button>
            <div class="collapse navbar-collapse d-md-flex d-lg-flex d-xl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="https://rocketclub.com/admissions">
                            <p class="nav-p" href="www.google.com">ACADEMY ADMISSION +</p>
                        </a></li>
                    <li class="nav-item"><a class="nav-link active" href="https://rocketclub.com/rcl-preview">
                            <p class="nav-p" href="www.google.com">ROCKET CLUB LIVE +</p>
                        </a></li>
                    <li class="nav-item"><a class="nav-link active" href="https://rocketclub.com/classroom">
                            <p class="nav-p" href="www.google.com">ACADEMY LOG IN +</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="total-rf-block">
        <div class="container" id="top-container">
            <div class="row d-flex" id="top-row">
                <div class="col-4 col-sm-4 col-md-5 col-lg-5 offset-xl-0 d-flex align-items-center"><img id="rc-logo-fancy" src="{{ url_for('static', filename='member_dashboard/img/rc_logo_fancy.png') }}"></div>
                <div class="col-8 col-sm-8 col-md-7 col-lg-7 col-xl-7 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-0" id="top-right-column">
                    <h1 id="large-name">{{ member.name }}</h1>
                    <h6 id="division-team">Division {{member.division}} team {{member.team}}</h6>
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center"><i class="fa fa-rocket" id="rocket-icon"></i>
                        <h6 id="total-rocket-fuel-label">Total Rocket Fuel</h6>
                    </div>
                    <h1 id="total-rocket-fuel">{{member.total_rf}} RF</h1>
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center"><i class="fa fa-video-camera" id="rocket-icon"></i>
                        <h6 id="total-rocket-fuel-label">Rocket Club Live Attendance</h6>
                    </div>
                    <h1 id="total-rocket-fuel">{{member.rcl_attendance}} Days</h1>
                </div>
            </div>
            <h1 id="resume-heading">View Member Resume Below:</h1>
        </div>
        <div class="container" id="bottom-container">
            <div class="row d-flex" id="resume">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="left-column"><span id="vertical-name">{{ name }}</span><img id="left-colulmn-rc-logo" src="{{ url_for('static', filename='member_dashboard/img/rc_logo_large.png') }}">
                    <div class="left-column-info-section">
                        <h1 class="left-column-heading">Information</h1>
                        <hr id="top-line" class="left-column-line">
                        <p id="member-info" class="left-column-p">Name: <strong>{{ member.name }}</strong><br>Phone: <strong>(201) 292-3565</strong><br>Email: <strong>admin@rocketclub.com</strong><br>Website: <strong>rocketclub.com</strong></p>
                    </div>
                    <div class="left-column-info-section">
                        <h1 class="left-column-heading personal-business">Personal Business</h1>
                        <hr id="top-line-2" class="left-column-line">
                        <p id="member-info-2" class="left-column-p">Coming Soon...</p>
                    </div>
                    <div class="left-column-info-section awards-section">
                        <h1 class="left-column-heading">Awards</h1>
                        <hr id="top-line-1" class="left-column-line">
                        <p id="member-info-1" class="left-column-p">Coming Soon...</p>
                    </div>
                </div>
                <div class="col" id="right-column">
                    <h1 id="right-column-heading">Rocket Club Certified</h1>
                    <h3 class="right-column-subheading">{{journeys.num_certified}} out of 24 Certifications Complete - {{journeys.percent_complete}}% Certified</h3>
                    <h3 class="right-column-category"><strong>Entrepreneurship and Business</strong><br></h3>{% for cert in journeys.entre_journeys %}
<div class="certification-line line">
    <span class="certification-text">{{cert.cert_order}}.</span> 
    <span class="certification-text certification-flair">{{ cert.flair }}</span> 
    <span class="certification-text-cert"> {{cert.certified}}</span></div>
{% endfor %}
                    <h3 class="right-column-category-2"><strong>Science, Technology, Engineering, and Mathematics</strong><br></h3>{% for cert in journeys.science_journeys %}
<div class="certification-line line">
    <span class="certification-text">{{cert.cert_order}}.</span> 
    <span class="certification-text certification-flair">{{ cert.flair }}</span> 
    <span class="certification-text-cert"> {{cert.certified}}</span></div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='member_dashboard/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='member_dashboard/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
