<!DOCTYPE html>
<html style="background-color: #030025;font-size: 27px;color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_assets/css/Color-Rainbow-Border-Shadow-with-Icon-Round-Animated.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_assets/css/SliderFade.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_assets/css/animated.css')}}">
</head>

<body style="background-color: rgba(255,255,255,0);">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10px;">
	    <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}}) center;">
            <div class="row" style="background-color: rgba(13,26,86,0.8);">
		    <div class="col-md-12"><img class="img-fluid pulse animated" src="{{ url_for('static', filename='leaderboard_assets/img/Title.png')}}" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div>
	    <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) top;">
            <div class="row" style="background-color: rgba(23,45,147,0.63);">
                <div class="col" style="border: 18px none rgb(0,0,0);padding: 14px;">
                    <h1 class="standings-heading" style="text-align: center;font-family: Orbitron, sans-serif;width: 100%;color: #fdd803;"><strong>Team Standings</strong></h1>
                    <p style="text-align: center;font-family: Orbitron, sans-serif;color: rgb(255,255,255);">Weekly Mission Progress</p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 5px;">
        <div class="container">
            <div class="row d-md-flex justify-content-md-center">
                <div class="col-md-8 col-lg-4 col-xl-4" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}});border: 5px solid rgb(0,0,0);">
                    <div class="row" style="border-style: none;background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}});background-color: rgba(92,53,58,0.71);border-radius: 5px;margin-bottom: 20px;">
                        <div class="col-md-12" style="background-color: rgba(0,0,0,0);border: 12px none rgb(0,0,0);padding: 9px;">
                            <p class="text-center standings-subtitle" style="font-family: Orbitron, sans-serif;text-align: center;color: rgb(255,255,255);margin-bottom: 6px;">7,8,9 Division</p>
                        </div>
                    </div>
		    {% for standing in team_standings[0] %}
		    <div class="row d-flex d-xl-flex justify-content-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start" style="background-color: rgba(4,6,65,0.37);">
			    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-start justify-content-md-end justify-content-lg-start justify-content-xl-end align-items-xl-center"><img class="place-img" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png"></div>
                        <div class="col-6 col-sm-7 col-md-6 col-lg-7 col-xl-5 d-flex d-sm-flex d-md-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start align-items-xl-center"><span class="pulse animated infinite leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);text-align: left;">{{standing[0]}}</span></div>
			<div class="col-2 col-md-3 col-lg-2 col-xl-3 d-flex d-xl-flex align-items-center justify-content-lg-end justify-content-xl-end align-items-xl-center"><span class="leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(122,122,122);text-align: left;">{{standing[1]}}%</span></div>
                    </div>
		    {% endfor %}
                </div>
                <div class="col-md-8 col-lg-4 col-xl-4" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}});border: 5px solid rgb(0,0,0);">
                    <div class="row" style="border-style: none;background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}});background-color: rgba(92,53,58,0.71);border-radius: 5px;margin-bottom: 20px;">
                        <div class="col-md-12" style="background-color: rgba(0,0,0,0);border: 12px none rgb(0,0,0);padding: 9px;">
                            <p class="text-center standings-subtitle" style="font-family: Orbitron, sans-serif;text-align: center;color: rgb(255,255,255);margin-bottom: 6px;">10,11 Division</p>
                        </div>
                    </div>
		    {% for standing in team_standings[1] %}
		    <div class="row d-flex d-xl-flex justify-content-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start" style="background-color: rgba(4,6,65,0.37);">
			    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-start justify-content-md-end justify-content-lg-start justify-content-xl-end align-items-xl-center"><img class="place-img" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png"></div>
                        <div class="col-6 col-sm-7 col-md-6 col-lg-7 col-xl-5 d-flex d-sm-flex d-md-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start align-items-xl-center"><span class="pulse animated infinite leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);text-align: left;">{{standing[0]}}</span></div>
			<div class="col-2 col-md-3 col-lg-2 col-xl-3 d-flex d-xl-flex align-items-center justify-content-lg-end justify-content-xl-end align-items-xl-center"><span class="leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(122,122,122);text-align: left;">{{standing[1]}}%</span></div>
                    </div>
		    {% endfor %}
                </div>
                <div class="col-md-8 col-lg-4 col-xl-4" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}});border: 5px solid rgb(0,0,0);">
                    <div class="row" style="border-style: none;background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}});background-color: rgba(92,53,58,0.71);border-radius: 5px;margin-bottom: 20px;">
                        <div class="col-md-12" style="background-color: rgba(0,0,0,0);border: 12px none rgb(0,0,0);padding: 9px;">
                            <p class="text-center standings-subtitle" style="font-family: Orbitron, sans-serif;text-align: center;color: rgb(255,255,255);margin-bottom: 6px;">12,13,14 Division</p>
                        </div>
                    </div>
		    {% for standing in team_standings[2]%}
                    <div class="row d-flex d-xl-flex justify-content-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start" style="background-color: rgba(4,6,65,0.37);">
			    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-start justify-content-md-end justify-content-lg-start justify-content-xl-end align-items-xl-center"><img class="place-img" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png"></div>
                        <div class="col-6 col-sm-7 col-md-6 col-lg-7 col-xl-5 d-flex d-sm-flex d-md-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start align-items-xl-center"><span class="pulse animated infinite leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);text-align: left;">{{standing[0]}}</span></div>
			<div class="col-2 col-md-3 col-lg-2 col-xl-3 d-flex d-xl-flex align-items-center justify-content-lg-end justify-content-xl-end align-items-xl-center"><span class="leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(122,122,122);text-align: left;">{{standing[1]}}%</span></div>
                    </div>
		    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;margin-bottom: 11px;">
        <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) top;">
            <div class="row" style="background-color: rgba(23,45,147,0.63);border-radius: 0;">
                <div class="col" style="border: 18px none rgb(0,0,0);padding: 14px;">
                    <h1 class="standings-heading" style="text-align: center;font-family: Orbitron, sans-serif;width: 100%;color: #fdd803;"><strong>Division Top 3</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}}) center;">
            <div class="row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 10px;">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) left / auto;padding: 0px;border-style: none;border-radius: 10px;">
                    <div class="row text-center d-xl-flex" style="background-color: rgba(4,29,65,0.61);margin: 0px;">
                        <div class="col-xl-12 d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 20px;">
                            <p class="d-xl-flex justify-content-xl-center align-items-xl-center standings-subtitle" style="color: rgb(255,255,255);font-family: Orbitron, sans-serif;text-align: center;margin-bottom: 0px;"><strong>Divisions&nbsp;7, 8, 9&nbsp;</strong></p>
                        </div>
                    </div>
		    {% for standing in division_standings[0]%}
                    <div class="row" style="background-color: rgba(4,29,65,0.58);margin: 0px;">
			    <div class="col-2 col-sm-2 col-md-3 col-xl-2 d-flex d-md-flex justify-content-start align-items-center align-items-md-center"><img class="small_icon" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png" style="/*width: 60px;*/"></div>
                        <div class="col-6 col-sm-6 col-md-5 col-lg-6 col-xl-7 d-flex d-md-flex d-xl-flex align-items-center align-items-md-center align-items-xl-center"><span class="pulse animated infinite small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[0]}}</span></div>
                        <div class="col-3 col-md-2 col-xl-2 d-flex d-md-flex d-xl-flex justify-content-end align-items-center justify-content-md-center align-items-md-center align-items-xl-center"><span class="small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[1]}}</span></div>
                    </div>
		    {%endfor%}
                </div>
            </div>
            <div class="row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 10px;">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) left / auto;padding: 0px;border-style: none;border-radius: 10px;">
                    <div class="row text-center d-xl-flex" style="background-color: rgba(4,29,65,0.61);margin: 0px;">
                        <div class="col-xl-12 d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 20px;">
                            <p class="d-xl-flex justify-content-xl-center align-items-xl-center standings-subtitle" style="color: rgb(255,255,255);font-family: Orbitron, sans-serif;text-align: center;margin-bottom: 0px;"><strong>Divisions&nbsp;10, 11&nbsp;</strong></p>
                        </div>
                    </div>
		    {% for standing in division_standings[1]%}
                    <div class="row" style="background-color: rgba(4,29,65,0.58);margin: 0px;">
			    <div class="col-2 col-sm-2 col-md-3 col-xl-2 d-flex d-md-flex justify-content-start align-items-center align-items-md-center"><img class="small_icon" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png" style="/*width: 60px;*/"></div>
                        <div class="col-6 col-sm-6 col-md-5 col-lg-6 col-xl-7 d-flex d-md-flex d-xl-flex align-items-center align-items-md-center align-items-xl-center"><span class="pulse animated infinite small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[0]}}</span></div>
                        <div class="col-3 col-md-2 col-xl-2 d-flex d-md-flex d-xl-flex justify-content-end align-items-center justify-content-md-center align-items-md-center align-items-xl-center"><span class="small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[1]}}</span></div>
                    </div>
		    {%endfor%}
                </div>
            </div>
            <div class="row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 10px;">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) left / auto;padding: 0px;border-style: none;border-radius: 10px;">
                    <div class="row text-center d-xl-flex" style="background-color: rgba(4,29,65,0.61);margin: 0px;">
                        <div class="col-xl-12 d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 20px;">
                            <p class="d-xl-flex justify-content-xl-center align-items-xl-center standings-subtitle" style="color: rgb(255,255,255);font-family: Orbitron, sans-serif;text-align: center;margin-bottom: 0px;"><strong>Divisions&nbsp;12, 13, 14&nbsp;</strong></p>
                        </div>
                    </div>
		    {% for standing in division_standings[2]%}
                    <div class="row" style="background-color: rgba(4,29,65,0.58);margin: 0px;">
			    <div class="col-2 col-sm-2 col-md-3 col-xl-2 d-flex d-md-flex justify-content-start align-items-center align-items-md-center"><img class="small_icon" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png" style="/*width: 60px;*/"></div>
			    <div class="col-6 col-sm-6 col-md-5 col-lg-6 col-xl-7 d-flex d-md-flex d-xl-flex align-items-center align-items-md-center align-items-xl-center"><span class="pulse animated infinite small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[0]}}</span></div>
                        <div class="col-3 col-md-2 col-xl-2 d-flex d-md-flex d-xl-flex justify-content-end align-items-center justify-content-md-center align-items-md-center align-items-xl-center"><span class="small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{standing[1]}}</span></div>
                    </div>
		    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;margin-bottom: 11px;">
        <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) top;">
            <div class="row" style="background-color: rgba(23,45,147,0.63);border-radius: 0;">
                <div class="col" style="border: 18px none rgb(0,0,0);padding: 14px;">
                    <h1 class="standings-heading" style="text-align: center;font-family: Orbitron, sans-serif;width: 100%;color: #fdd803;"><strong>Legacy Leaders</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}}) center;">
            <div class="row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 10px;">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) left / auto;padding: 0px;border-style: none;border-radius: 10px;">
		{% for row in legacy_leaders %}
                    <div class="row" style="background-color: rgba(4,29,65,0.58);margin: 0px;">
			    <div class="col-2 col-sm-2 col-md-3 col-xl-2 d-flex d-md-flex justify-content-start align-items-center align-items-md-center"><img class="small_icon" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png" style="/*width: 60px;*/"></div>
                        <div class="col-6 col-sm-6 col-md-5 col-lg-6 col-xl-7 d-flex d-md-flex d-xl-flex align-items-center align-items-md-center align-items-xl-center"><span class="pulse animated infinite small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{row[0]}}</span></div>
                        <div class="col-3 col-md-2 col-xl-2 d-flex d-md-flex d-xl-flex justify-content-end align-items-center justify-content-md-center align-items-md-center align-items-xl-center"><span class="small-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);">{{row[1]}}</span></div>
                    </div>
		{%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;margin-bottom: 11px;">
        <div class="container" style="background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}}) top;">
            <div class="row" style="background-color: rgba(23,45,147,0.63);border-radius: 0;">
                <div class="col" style="border: 18px none rgb(0,0,0);padding: 14px;">
                    <h1 class="standings-heading" style="text-align: center;font-family: Orbitron, sans-serif;width: 100%;color: #fdd803;"><strong>Rocket Club Live</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 5px;">
        <div class="container">
            <div class="row d-md-flex justify-content-md-center">
                <div class="col-md-9 col-lg-6 col-xl-6" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}});border: 5px solid rgb(0,0,0);">
                    <div class="row" style="border-style: none;background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}});background-color: rgba(92,53,58,0.71);border-radius: 5px;margin-bottom: 20px;">
                        <div class="col-md-12" style="background-color: rgba(0,0,0,0);border: 12px none rgb(0,0,0);padding: 9px;">
                            <p class="text-center standings-subtitle" style="font-family: Orbitron, sans-serif;text-align: center;color: rgb(255,255,255);margin-bottom: 6px;">Trivia Winnings</p>
                        </div>
                    </div>
		    {% for standing in trivia_leaders %}
                    <div class="row d-flex d-xl-flex justify-content-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start" style="background-color: rgba(4,6,65,0.37);">
			    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-start justify-content-md-end justify-content-lg-start justify-content-xl-end align-items-xl-center"><img class="place-img" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png"></div>
                        <div class="col-5 col-sm-7 col-md-5 col-lg-7 col-xl-6 d-flex d-sm-flex d-md-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start align-items-xl-center"><span class="pulse animated infinite leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);text-align: left;">{{standing[0]}}</span></div>
                        <div class="col-2 col-md-3 col-lg-2 col-xl-3 d-flex d-xl-flex align-items-center justify-content-lg-end justify-content-xl-end align-items-xl-center"><span class="leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(122,122,122);text-align: left;">{{standing[1]}}</span></div>
                    </div>
		    {%endfor%}
                </div>
                <div class="col-md-9 col-lg-6 col-xl-6" style="background: url({{ url_for('static', filename='leaderboard_assets/img/backdrop.png')}});border: 5px solid rgb(0,0,0);">
                    <div class="row" style="border-style: none;background: url({{ url_for('static', filename='leaderboard_assets/img/mbr-1920x1078.png')}});background-color: rgba(92,53,58,0.71);border-radius: 5px;margin-bottom: 20px;">
                        <div class="col-md-12" style="background-color: rgba(0,0,0,0);border: 12px none rgb(0,0,0);padding: 9px;">
                            <p class="text-center standings-subtitle" style="font-family: Orbitron, sans-serif;text-align: center;color: rgb(255,255,255);margin-bottom: 6px;">Parents Night</p>
                        </div>
                    </div>
		    {% for standing in parents_night_leaders %}
                    <div class="row d-flex d-xl-flex justify-content-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start" style="background-color: rgba(4,6,65,0.37);">
			    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-start justify-content-md-end justify-content-lg-start justify-content-xl-end align-items-xl-center"><img class="place-img" src="{{ url_for('static', filename='leaderboard_assets/img/')}}{{loop.index}}.png"></div>
                        <div class="col-6 col-sm-6 col-md-5 col-lg-7 col-xl-6 d-flex d-sm-flex d-md-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start align-items-xl-center"><span class="pulse animated infinite leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(255,255,255);text-align: left;">{{standing[0]}}</span></div>
                        <div class="col-2 col-md-3 col-lg-2 col-xl-3 d-flex d-xl-flex align-items-center justify-content-lg-end justify-content-xl-end align-items-xl-center"><span class="leaderboard-entry" style="font-family: Orbitron, sans-serif;color: rgb(122,122,122);text-align: left;">{{standing[1]}}</span></div>
                    </div>
		    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 10px;">
                <div class="col" style="height: 373px;">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='leaderboard_assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='leaderboard_assets/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
