:root {
  --rc-yellow: #fec400;
  --text-grey: rgb(255,0,184);
  --blue-fade: rgba(0,102,255,0.18);
  --confirmation-color: rgb(255,152,78);
  --rc-blue: #1f6ffb;
}

body {
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#rc_header_image {
  height: 80px;
}

#header {
  width: 100%;
  max-width: 900px;
  height: 80px;
  padding-right: 20px;
  padding-top: 10px;
}

#main-heading {
  font-family: 'Orbitron';
  padding-top: 35px;
  color: var(--rc-yellow);
}

.header-icon {
  color: var(--text-grey);
  font-size: 20px;
  margin-left: 20px;
}

.header-icon-selectable {
  color: var(--text-grey);
  font-size: 20px;
}

.header-text {
  color: var(--rc-yellow);
  font-family: 'Orbitron';
  font-size: 15px;
  margin-left: 10px;
}

.header-icon-selectable:hover {
  color: var(--rc-yellow);
  cursor: pointer;
  text-decoration: none;
}

#header-buttons-left {
  display: initial;
}

#header-buttons-right {
  margin-left: 20px;
  float: right;
  margin-top: 25px;
}

.header-text-grey {
  color: var(--text-grey);
  font-family: 'Noto Sans';
  font-weight: 600;
}

#logout-button:hover {
  color: var(--rc-yellow);
  cursor: pointer;
  text-decoration: none !important;
}

#logout-icon {
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  #rocket_club_logo_image {
    margin-top: 70px !important;
  }
}

@media (max-width: 576px) {
  .welcome-page-paragraph {
    font-size: 15px !important;
  }
}

#main-content {
  width: 100%;
  height: 100%;
}

#dashboard-gear-icon {
  margin-right: 10px;
}

#header-link {
  text-decoration: none;
}

#user-settings-text {
}

#dashboard-page {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
  padding-left: 20px;
}

.dashboard-heading {
  color: var(--rc-yellow);
  font-family: 'Orbitron';
  font-size: 30px;
  margin-bottom: 15px;
}

.dashboard-text-bold {
  font-family: 'Orbitron';
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.dashboard-text {
  font-family: 'Orbitron';
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}

@media (max-width: 700px) {
  .hide-when-small {
    display: none;
  }
}

#logout-button {
  margin: 0px;
}

.dashboard-section {
  margin-bottom: 50px;
}

.tuition-subsection {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#tuition-section {
  display: flex;
  flex-wrap: wrap;
}

.tuition-number {
  color: var(--light);
  font-size: 18px;
}

.tuition-label {
  font-size: 18px;
}

#membership-cost-number {
  font-size: 24px;
  color: var(--rc-yellow);
}

.horizontal-line {
  border-top: 1px solid rgba(254,196,0,0.27);
  width: 100%;
}

.nav.nav-tabs {
  border: none;
}

.nav-tabs .nav-item {
  background: black;
  font-family: 'Orbitron';
  color: white;
  padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  background-color: var(--rc-yellow);
  border-radius: 0px;
  border-color: black;
}

.nav-tabs .nav-link {
  color: var(--rc-yellow);
  padding: 5px;
  border: 1px solid var(--rc-yellow);
  border-radius: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: var(--rc-yellow);
}

#select-a-student {
  margin-left: 10px;
  color: rgba(255,255,255,0.67);
}

.dashboard-text-bold.student-name {
  color: var(--rc-yellow);
  border-bottom: 1px solid;
  width: 100%;
  font-size: 30px;
}

.student-section {
  margin-bottom: 20px;
  background-color: var(--blue-fade);
  padding: 10px;
  width: 96%;
}

.settings-icon {
  margin-left: 20px;
}

.rc-yellow {
  color: var(--rc-yellow);
  font-size: 22px;
}

.underline {
  text-decoration: underline;
}

.rc-grey {
  color: var(--text-grey);
}

hr {
  border-bottom: 1px solid rgba(255,199,0,0.12);
}

.dashboard-label {
  color: var(--rc-yellow);
  margin-right: 10px;
}

#account-list {
  display: flex;
}

#user-id {
  margin: 0px;
  padding: 0px;
  color: rgba(255,255,255,0.24);
  font-family: monospace;
}

.dashboard-paragraph {
  color: rgba(255,255,255,0.66);
  max-width: 600px;
  width: 96%;
}

#loading_icon {
  width: 15%;
  opacity: 80%;
}

.account-info-input:focus {
  color: black;
}

.account-info-input {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.account-form-line {
  margin-bottom: 10px;
}

#account-info-form {
  color: black;
  display: flex;
}

#submit-button:hover {
  background-color: black;
  color: var(--rc_yellow);
  border: 2px solid var(--rc_yellow);
}

#submit-button {
  background: var(--rc_yellow);
  color: black;
  font-family: 'Orbitron';
  border-radius: 0px;
  border: 2px solid black;
  font-size: 20px;
}

#submit-button-section {
  display: flex;
}

.warning {
  font-family: 'Orbitron';
  color: rgb(224,91,82);
  font-size: 20px;
  margin-top: 12px;
  margin-left: 20px;
}

.confirmation {
  font-family: 'Orbitron';
  color: var(--confirmation-color);
  font-size: 20px;
  margin-top: 12px;
  margin-left: 20px;
}

#old-password-warning {
  color: rgb(224,91,82);
  font-family: 'Orbitron';
  margin-left: 20px;
  height: 21px;
}

.dashboard-link {
  color: var(--rc-blue);
  font-family: 'Orbitron';
  font-size: 20px;
}

.dashboard-link:hover {
  color: rgb(82,145,255);
}

#back-to-dsahboard {
  padding-top: 20px;
}

